body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}



.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-info {
  margin-left: 20px;
}
.board-box{
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: calc(100% / 3);
  width: calc(100% / 3);
  margin-bottom: -1px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .25s;
}
.square:hover{
  background: #00000020;
}
